.container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 75px);
    margin: auto;
    max-width: 500px;
    width: 90%;
}

.grid-item-1 {
    background-color: lawngreen;
    grid-row: 1;
    grid-column: 1 / span 4;
}

.grid-item-2 {
    background-color: lawngreen;
    grid-row: 2 / span 5;
    grid-column: 1;
}

.grid-item-3 {
    background-color: lawngreen;
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
}

.grid-item-4 {
    background-color: lawngreen;
    grid-row: 6 / span 1;
    grid-column: 2 / span 3;
}

.grid-item-5 {
    background-color: lawngreen;
    grid-row: 7 / span 1;
    grid-column: 1/ span 4;
}