.container {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: repeat(12, 49px);
    margin: auto;
    max-width: 1336px;
    max-height: 1255px;
    width: 100%;
}

.grid-item-1 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 643px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-1 {
    grid-row: 1 / span 12;
    grid-column: 1;
}

.grid-item-2 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 321.5px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-2 {
    grid-row: 1 / span 6;
    grid-column: 2;
}

.grid-item-3 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 321.5px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-3 {
    grid-row: 7 / span 6;
    grid-column: 2;
}

.grid-item-4 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 214.33px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-4 {
    grid-row: 1 / span 4;
    grid-column: 3;
}

.grid-item-5 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 214.33px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-5 {
    grid-row: 5 / span 4;
    grid-column: 3;
}

.grid-item-6 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 214.33px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-6 {
    grid-row: 9 / span 4;
    grid-column: 3;
}

.grid-item-7 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 160.75px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-7 {
    grid-row: 1 / span 3;
    grid-column: 4;
}

.grid-item-8 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 160.75px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-8 {
    grid-row: 4 / span 3;
    grid-column: 4;
}

.grid-item-9 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 160.75px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-9 {
    grid-row: 7 / span 3;
    grid-column: 4;
}

.grid-item-10 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 160.75px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-10 {
    grid-row: 10 / span 3;
    grid-column: 4;
}

.grid-item-11 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-11 {
    grid-row: 1 / span 2;
    grid-column: 5;
}

.grid-item-12 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-12 {
    grid-row: 3 / span 2;
    grid-column: 5;
}

.grid-item-13 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-13 {
    grid-row: 5 / span 2;
    grid-column: 5;
}

.grid-item-14 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-14 {
    grid-row: 7 / span 2;
    grid-column: 5;
}

.grid-item-15 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-15 {
    grid-row: 9 / span 2;
    grid-column: 5;
}

.grid-item-16 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 107.16px;
    font-family: Cambria;
    font-size: 28px;
}

.grid-item-16 {
    grid-row: 11 / span 2;
    grid-column: 5;
}

.grid-item-17 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-17 {
    grid-row: 1 / span 1;
    grid-column: 6;
}

.grid-item-18 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-18 {
    grid-row: 2 / span 1;
    grid-column: 6;
}

.grid-item-19 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-19 {
    grid-row: 3 / span 1;
    grid-column: 6;
}

.grid-item-20 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-20 {
    grid-row: 4 / span 1;
    grid-column: 6;
}

.grid-item-21 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-21 {
    grid-row: 5 / span 1;
    grid-column: 6;
}

.grid-item-22 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-22 {
    grid-row: 6 / span 1;
    grid-column: 6;
}

.grid-item-23 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-23 {
    grid-row: 7 / span 1;
    grid-column: 6;
}

.grid-item-24 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-24 {
    grid-row: 8 / span 1;
    grid-column: 6;
}

.grid-item-25 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-25 {
    grid-row: 9 / span 1;
    grid-column: 6;
}

.grid-item-26 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-26 {
    grid-row: 10 / span 1;
    grid-column: 6;
}

.grid-item-27 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-27 {
    grid-row: 11 / span 1;
    grid-column: 6;
}

.grid-item-28 {
    background-color: lawngreen;
    color: white;
    text-align: center;
    line-height: 53.58px;
    font-family: Cambria;
    font-size: 24px;
}

.grid-item-28 {
    grid-row: 12 / span 1;
    grid-column: 6;
}
